RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

ErrorDocument 400 /erro_400.html
ErrorDocument 401 /erro_401.html
ErrorDocument 403 /erro_403.html
ErrorDocument 404 /erro_404.html
ErrorDocument 500 /erro_500.html

RewriteRule ^(.*)$ index.php?url=$1

#USE PHP 5.6
AddHandler application/x-httpd-php56 .php 
<IfModule mod_suphp.c>
    suPHP_ConfigPath /home/helpr248/public_html/site/php.ini
</IfModule>