@font-face {
    font-family: 'CaptainFalconGradientItalic';
    src: url('/assets/fonts/CaptainFalconGradientItalic-nRlz4.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CaptainFalconSuperItalic';
    src: url('/assets/fonts/CaptainFalconSuperItalic-7BdxD.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CaptainFalconHalftoneItalic';
    src: url('/assets/fonts/CaptainFalconHalftoneItalic-Rp64e.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FutureZ';
    src: url('/assets/fonts/FutureZ-MVEaw.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FutureZItalic';
    src: url('/assets/fonts/FutureZItalic-2OBml.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SpaceRangerHalftoneItalic';
    src: url('/assets/fonts/SpaceRangerHalftoneItalic-j9ERj.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SpaceRangerSemiItalic';
    src: url('/assets/fonts/SpaceRangerSemiItalic-nARrJ.otf');
    font-weight: normal;
    font-style: normal;
}
